@charset "utf-8";
/* CSS Document */
html,
body {
	padding: 0;
	margin: 0;
	color: white;
	width: 100%;
	height: 100%;
	background: black;
	background: linear-gradient(to bottom, #000000, #191970);
}

.filter{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #FF00FF;
	animation: colorChange;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	mix-blend-mode: soft-light;
	animation-timing-function: ease-in-out;
}

@keyframes colorChange{
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: .9;
	}
}

.center{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.moon{
	position: relative;
	top: 0;
	left: 0;
}

.islet{
	position: absolute;
	bottom: 0;
	transform: translate(-50%, 0);
}

.left-cloud{
	position: absolute;
	bottom: 0;
	left: 0;
}

.right-cloud{
	position: absolute;
	bottom: 0;
	transform: translate(-100%, 0);
}

.centered{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bottom-center{
	position: fixed;
	bottom: 0px;
	left: 50%;
}

.bottom-left{
	position: fixed;
	bottom: 0px;
	left: 0px;
}

.bottom-right{
	position: fixed;
	bottom: 0px;
	right: 0px;
}